include Makefile
include pyproject.toml
include README.rst
include requirements.txt
include requirements-dev.txt
include setup.py
include .codespell-ignore
include .reuse/dep5
recursive-include LICENSES *.txt

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include examples *.py
recursive-include h5pyckle *.typed
recursive-include tests *.py
