name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '30 12 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  reuse:
    name: Licensing (REUSE)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: fsfe/reuse-action@v4

  typos:
    name: Spelling (typos)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: crate-ci/typos@master

  ruff:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Linting (ruff)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    -
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: 'requirements-dev.txt'
    - name: Main Script
      run: |
        make pip-install
        make ruff

  mypy:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Annotations (mypy)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    -
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: 'requirements-dev.txt'
    - name: Main Script
      run: |
        make pip-install
        make mypy

  pytest:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Tests (pytest-${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4
    -
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'requirements-dev.txt'
    - name: Main Script
      run: |
        make pip-install
        make PYTEST_ADDOPTS='-m "not meshmode"' test

  examples:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Examples
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    -
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: 'requirements-dev.txt'
    - name: Main Script
      run: |
        make pip-install
        make run-examples

  pytest-meshmode:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Tests (pytest-meshmode)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Main Script
      run: |
        curl -L -O https://tiker.net/ci-support-v0
        . ./ci-support-v0

        # set up environment
        export CONDA_ENVIRONMENT=".ci/environment-meshmode.yml"
        export REQUIREMENTS_TXT=".ci/requirements-meshmode.txt"

        build_py_project_in_conda_env

        # run tests
        make PYTEST_ADDOPTS='-m "meshmode"' test

# vim: set ts=2 sw=2 et:
