name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  flake8:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    -
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Main Script
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev,unittest]
        make flake8

  pylint:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    -
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Main Script
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev,unittest]
        make pylint

  mypy:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: mypy-${{ matrix.python-version }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    -
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Main Script
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev]
        make mypy

  pytest:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: pytest-${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.9]
    steps:
    - uses: actions/checkout@v2
    -
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Main Script
      run: |
        # NOTE: tested separately in `pytest-meshmode`
        rm -rf tests/test_meshmode.py

        python -m pip install --upgrade pip
        python -m pip install -e .[dev,unittest]
        python -m pytest

  pytest-meshmode:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: pytest-meshmode-${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.9]
    steps:
    - uses: actions/checkout@v2
    -
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Main Script
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
          ocl-icd-opencl-dev libpocl-dev python3-pyopencl
        python -m pip install --upgrade pip wheel
        python -m pip install -I pyopencl
        python -m pip install -e .[dev]
        python -m pip install -r .ci/requirements-meshmode.txt
        python -m pytest tests/test_meshmode.py

# vim: set ts=2 sw=2 et:
